/* ## Base ## */
/* Variables */
:root {
    --white: #FFFCF7;
    --cream: #feeccf;
    --dark-brown: #220A00;
    --brown: #683319;
    --green: #A5A250;
    --dark-cream: #d6be97;
    --font-clamp: clamp(0.5rem, 3vh, 2rem);

}

/* Text */
body {
    font-family: "Gaegu", sans-serif;
    background-color: var(--cream);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Gluten", cursive;
    color: var(--dark-brown);
}

@media (min-width: 40em) {
    p {
        font-size: 1.3rem;
    }
}

/* Buttons */
button {
    font-size: var(--font-clamp);
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 20%;
    background-color: var(--brown);
    color: var(--cream);
    box-shadow: 0;

    border-image-source: url(../assets/button-img.png);
    border-image-slice: 150;
    border-image-width: 7;
    border-image-outset: 4;
    border-image-repeat: round;

    max-width: fit-content;


}

button:hover {
    filter: drop-shadow(0px 5px 0px var(--brown))
}

button:focus,
button:active {
    filter: drop-shadow(0px 5px 0px var(--dark-brown))
}

/* ## Main ## */
/* # Start Screen # */
#start-screen {
    background-color: var(--cream);
    text-align: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: left 1.5s;
    z-index: 2;

}

#start-screen::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;

    border: 2rem solid transparent;
    border-image-source: url(../assets/border-filled-3.png);
    border-image-slice: 90;
    border-image-repeat: round;

    filter: drop-shadow(0px 0px 3px var(--dark-brown));
}

#start-screen.hidden {
    left: -200%;
}

#start-screen.hidden::before {
    filter: none;
}

#content {
    margin: auto 0;
    padding: 1rem;
    background-image: url(../assets/bg-image.svg);
    background-size: contain;
    background-repeat: repeat-x;
}

#content button {
    font-size: 2rem;
}

.logo-img {
    width: 80%;
    max-width: 20rem;

    margin-top: 10%;
    filter: drop-shadow(0px 5px 1px var(--brown));
}

@media (min-width: 40em) {
    #content button {
        font-size: clamp(0.5rem, 5vh, 2rem);
    }

    .logo-img {
        margin-top: 5%;
        width: auto;
        max-height: 50vh;
    }

}


/* # Tutorial # */

.popup-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    padding: 1rem;
    background-color: rgba(34, 10, 0, 0.3);
    backdrop-filter: blur(2px);

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-bg.hidden {
    display: none;
    backdrop-filter: none;
}

.popup-content {
    background-color: var(--cream);
    text-align: center;
    position: relative;

    border: 1rem solid transparent;

    border-image-source: url(../assets/popup-body.svg);
    border-image-slice: 20% 10%;
    border-image-repeat: round;
    border-image-outset: .5;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.popup-content h2 {
    margin: 0;
    margin-top: 1rem;
    font-size: var(--font-clamp);
}

.popup-content p {
    margin: 0;
}

#tutorial-content img {
    height: 10vh;
}

#close-btn {
    border: none;
    background-color: transparent;
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;

}

#close-btn:focus,
#close-btn:active,
#close-btn:hover {
    filter: none;
}

#close-btn:hover .fill-path {
    fill: var(--green);
}

#close-btn:focus .fill-path,
#close-btn:active .fill-path,
#close-btn:focus .outline-path,
#close-btn:active .outline-path {
    fill: var(--green);
}


.close-icon {
    height: 100%;
    width: 100%;
}


/* # Game Screen # */
#game-screen {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/bg-image.svg);
    background-size: 50%;
    background-repeat: repeat-x;

}

#game-screen h2 {
    border: .8rem solid transparent;
    background-color: var(--brown);
    color: var(--cream);
    border-image-source: url(../assets/name-bg.svg);
    border-image-slice: 20% 10%;
    border-image-repeat: round;
    border-image-outset: .5;
    filter: drop-shadow(0px 5px 2px var(--dark-brown));
}

.game-board {
    display: grid;
    width: auto;
    height: 50%;
    max-height: 400px;
    gap: 3%;
    aspect-ratio: 1 / 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 1rem;
    background-color: var(--cream);
    border: 1rem solid transparent;
    border-image-source: url(../assets/game-board-bg.png);
    border-image-outset: .5;
    border-image-slice: 90;
    border-image-repeat: round;
}

.score-container {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-clamp);
    width: 90%;
    max-width: 400px;
}

.coin-img {
    max-height: var(--font-clamp);
}

.score {
    display: flex;
    justify-content: center;
    gap: 5px;
    border-radius: 100px;
    padding: .4rem;
    background-color: var(--dark-cream);
    border: 3px solid var(--white)
}

.square {
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    position: relative;
}

.square:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/hover.png");
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 1;
}

.square:focus::after,
.square:active::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/focus-active.png");
    background-size: cover;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 1;
}


.square img {
    display: block;
    object-position: center;
    object-fit: scale-down;
}

#square-2,
#square-5,
#square-0 {
    background-image: url("../assets/tile-1.png");
}

#square-1,
#square-3,
#square-7 {
    background-image: url("../assets/tile-2.png");
}

#square-4,
#square-6,
#square-8 {
    background-image: url("../assets/tile-3.png");
}

.bottom-btns {
    display: flex;
}


@media (min-width: 40em) {
    .score-container {
        width: 30%;
    }
}

/* Animations */
.bounce {
    animation: bounce .5s ease;
}

@keyframes bounce {
    10% {
        transform: translateY(0%);
    }

    30% {
        transform: translateY(-15%);
    }

    80% {
        transform: translateY(0);
    }
}

@media (prefers-reduced-motion: reduce) {
    .bounce {
        animation: none;
    }
}


/* # End Screen # */
#game-over-content h3 {
    font-family: "Gaegu", sans-serif;
}

@media (min-width: 40em) {
    .final-score-container {
        font-size: var(--font-clamp);
        margin: 1rem 0;
    }

    #game-over-content {
        padding: 2rem;
    }

    #game-over-content h3 {
        margin: 0;
    }
}

/* ## Footer ## */