/* ## Base ## */
/* Variables */
:root {}

/* Text */
body {
    font-family: "Gaegu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Gluten", cursive;
}


/* Buttons */


/* ## Main ## */
/* # Start Screen # */

/* # Tutorial # */

/* # Game Screen # */
.game-board {
    display: grid;
    width: 90%;
    gap: 3%;
    aspect-ratio: 1 / 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    background-color: antiquewhite;
}

/* # End Screen # */

/* ## Footer ## */